@{
    ViewData["Title"] = "Settings";
}

<div class="container-fluid pt-3">
    <div class="card ag-card-bg p-4 shadow-sm">
        <div class="list-group list-group-flush">
            <a asp-action="LanguageSettings" class="list-group-item list-group-item-action">Language</a>
            <a asp-action="SecuritySettings" class="list-group-item list-group-item-action">Security</a>
            <a asp-action="HelpAndSupport" class="list-group-item list-group-item-action">Help & Support</a>
        </div>
    </div>
</div>